* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #cfa86e;
  background: rgba(3, 14, 22, 0.4196078431);
  position: absolute;
  width: 100%;
  z-index: 999;
}
header a {
  text-decoration: none;
}
header a img {
  width: 60%;
  height: auto;
}
header .header-text {
  height: 100%;
  align-items: center;
  color: #fff;
  font-size: 17px;
  display: flex;
}
header .header-text ul {
  text-decoration: none;
  margin: 0;
}
header .header-text ul li {
  display: inline-block;
  margin-left: 20px;
}
header .header-text a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-left: 20px;
}
header .booktable {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
header .booktable a {
  display: inline-block;
  color: #cfa86e;
  padding: 10px 35px;
  border: 2px solid #cfa86e;
}

.about {
  padding: 180px 0;
  background-image: url(../img/background/inner-bnr-2.jpg);
  background-color: #041b26;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.about .about-text {
  text-align: center;
}
.about .about-text h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 10px;
  word-break: break-word;
  padding-left: 10px;
  padding-right: 10px;
}
.about .about-text a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.about .about-text i {
  color: #fff;
  margin-left: 5px;
}
.about .about-text span {
  color: #cfa86e;
  font-size: 20px;
}

.cart {
  background-color: #030E16;
  padding: 100px 0;
}
.cart .maincart {
  text-align: center;
}
.cart .maincart .table {
  width: 80%;
  margin-left: 90px;
  margin-top: 40px;
}
.cart .maincart .table thead {
  padding: 15px 18px;
  text-align: center;
  border: 0;
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 500;
  color: #f3f3f3;
  font-family: "FunctionTwoLight";
}
.cart .maincart .table thead tr {
  padding: 15px 18px;
  text-align: center;
  border: 0;
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 500;
  color: #f3f3f3;
  font-family: "FunctionTwoLight";
}
.cart .maincart .table th {
  background-color: #041b26;
  padding: 15px 18px;
  text-align: center;
  border: 0;
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 500;
  color: #f3f3f3;
  font-family: "FunctionTwoLight";
}
.cart .maincart .table tbody {
  padding: 15px 18px;
  text-align: center;
  border: 0;
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 500;
  font-family: "FunctionTwoLight";
}
.cart .maincart .table tbody td {
  padding: 30px 20px;
  max-width: 100px;
  text-align: center;
  border: 0;
  border-top: 1px solid #2b3f4a;
  color: #fff;
  font-size: large;
}
.cart .maincart .table img {
  width: 99px;
  height: 102px;
}
.cart .maincart .table .amountcart {
  border: 1px solid;
  width: 55%;
  margin-left: 20px;
}
.cart .maincart .table .amountcart a {
  color: #041b26;
}
.cart .maincart .table i {
  color: #cfa86e;
}
.cart .itemcarts .rightsection {
  border: 0;
  width: 65%;
  margin-right: 0px;
  padding: 40px;
  background-color: #041b26;
  height: 300px;
  margin-left: 850px;
}
.cart .itemcarts .rightsection p {
  color: #cbcccb;
  font-size: 20px;
}
.cart .itemcarts .rightsection span {
  font-size: 22px;
  color: #cfa86e;
}
.cart .itemcarts .rightsection button {
  width: 90%;
  text-align: center;
  background: #030e16;
  color: #cfa86e;
  float: left;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  padding: 12px 19px;
  border: 2px solid #cfa86e;
  line-height: inherit;
  transition: 0.5s;
}
.cart .itemcarts .rightsection h3 {
  color: #cfa86e;
}

footer {
  background-image: url(/assets/img/background/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #041b26;
  background-position: center center;
  padding: 80px 0;
}
footer .footer-text {
  text-align: center;
}
footer .footer-text a {
  position: relative;
}
footer .footer-text a img {
  margin-bottom: 20px;
  width: 200px;
  height: 98px;
}
footer .footer-text a::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 2px;
  background: #58d1be;
  margin-bottom: 20px;
  top: 50%;
  transform: translateY(-20%);
  right: -250%;
}
footer .footer-text a::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 2px;
  background-color: #58d1be;
  top: 50%;
  transform: translateY(-20%);
  left: -250%;
}
footer .col-lg-4 {
  text-align: center;
}
footer .col-lg-4 h3 {
  color: #fff;
  font-size: 26px;
}
footer .col-lg-4 p {
  color: #cbcccb;
  font-size: 20px;
}
footer .col-lg-4 i {
  margin-left: 10px;
  color: #cfa86e;
}
footer .col-lg-4 span {
  color: #cfa86e;
}/*# sourceMappingURL=cart.css.map */