* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #cfa86e;
  background: rgba(3, 14, 22, 0.4196078431);
  position: absolute;
  width: 100%;
  z-index: 999;
}
header a {
  text-decoration: none;
}
header a img {
  width: 60%;
  height: auto;
}
header .header-text {
  height: 100%;
  align-items: center;
  color: #fff;
  font-size: 17px;
  display: flex;
}
header .header-text ul {
  text-decoration: none;
  margin: 0;
}
header .header-text ul li {
  display: inline-block;
  margin-left: 20px;
}
header .header-text a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  margin-left: 20px;
}
header .booktable {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
header .booktable a {
  display: inline-block;
  color: #cfa86e;
  padding: 10px 35px;
  border: 2px solid #cfa86e;
}

.about {
  padding: 180px 0;
  background-image: url(../img/background/inner-bnr-2.jpg);
  background-color: #041b26;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.about .about-text {
  text-align: center;
}
.about .about-text h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 10px;
  word-break: break-word;
  padding-left: 10px;
  padding-right: 10px;
}
.about .about-text a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
.about .about-text a:hover {
  color: #e3a51e;
}
.about .about-text i {
  color: #fff;
  margin-left: 5px;
}
.about .about-text span {
  color: #cfa86e;
  font-size: 20px;
}

.checkdetail {
  padding: 50px 0;
  background: #041b26;
}
.checkdetail .billing input {
  color: #666666;
  border: 1px solid #ccc;
  padding: 12px 10px;
  width: 100%;
  font-size: 14px;
  background: #f7f7f7;
  margin-top: 20px;
}
.checkdetail .billing label {
  margin-top: 10px;
  color: #fff;
}
.checkdetail .billing h3 {
  margin-top: 20px;
  color: #fff;
}
.checkdetail .orderdetail {
  background-color: rgba(3, 14, 22, 0.4196078431);
}
.checkdetail .orderdetail h3 {
  margin-top: 20px;
  color: #fff;
}
.checkdetail .order-summary-table {
  background-color: rgba(3, 14, 22, 0.4196078431);
  margin-top: 34px;
}
.checkdetail .order-summary-table .table,
.checkdetail .order-summary-table table {
  color: #fff;
  margin-bottom: 0;
  font-size: 15px;
  white-space: nowrap;
}
.checkdetail .order-summary-table .table tr td,
.checkdetail .order-summary-table .table tr th,
.checkdetail .order-summary-table table tr td,
.checkdetail .order-summary-table table tr th {
  font-weight: 500;
  vertical-align: middle;
  padding: 15px 10px;
  border-width: 1px;
}
.checkdetail .order-summary-table .table tr td a,
.checkdetail .order-summary-table .table tr th a,
.checkdetail .order-summary-table table tr td a,
.checkdetail .order-summary-table table tr th a {
  color: #fff;
  font-weight: 400;
}
.checkdetail .order-summary-table .table tr td strong,
.checkdetail .order-summary-table .table tr th strong,
.checkdetail .order-summary-table table tr td strong,
.checkdetail .order-summary-table table tr th strong {
  font-weight: 400;
}
.checkdetail .order-summary-table .table tr td,
.checkdetail .order-summary-table table tr td {
  font-weight: 400;
}
.checkdetail .order-summary-table .table tr td a,
.checkdetail .order-summary-table table tr td a {
  text-decoration: none;
  color: #fff;
}
.checkdetail .order-summary-table .shipping-type {
  text-align: left;
}
.checkdetail .order-summary-table .shipping-type li {
  margin-bottom: 5px;
}
.checkdetail .order-summary-table .shipping-type li:last-child {
  margin-bottom: 0;
}
.checkdetail .order-payment-method {
  background-color: rgba(3, 14, 22, 0.4196078431);
  padding: 40px 20px 30px;
}
.checkdetail .single-payment-method {
  margin-bottom: 20px;
  color: #fff;
}
.checkdetail .single-payment-method:last-child {
  margin-bottom: 0;
}
.checkdetail .single-payment-method:first-child .payment-method-details {
  display: block;
}
.checkdetail .single-payment-method label,
.checkdetail .single-payment-method .custom-control-label {
  color: #fff !important;
  font-weight: 500;
}
.checkdetail .single-payment-method .paypal-card {
  max-width: 150px;
  height: 50px;
  margin-top: 10px;
  display: block;
}
.checkdetail .single-payment-method .payment-method-details {
  background-color: rgba(3, 14, 22, 0.4196078431);
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  display: none;
}
.checkdetail .single-payment-method .payment-method-details:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(3, 14, 22, 0.4196078431);
  bottom: 100%;
}
.checkdetail .single-payment-method .payment-method-details * {
  margin: 0;
}
.checkdetail button {
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #e3a51e;
  outline: none;
  box-shadow: none;
  transition: 0.4s;
  display: inline-block;
  padding: 14px 25px;
  background-color: #333333;
  text-transform: uppercase;
  margin-top: 10px;
}
.checkdetail .summary-footer-area label {
  color: #fff;
}
.checkdetail .summary-footer-area a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-image: url(/assets/img/background/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #041b26;
  background-position: center center;
  padding: 80px 0;
}
footer .footer-text {
  text-align: center;
}
footer .footer-text a {
  position: relative;
}
footer .footer-text a img {
  margin-bottom: 20px;
  width: 200px;
  height: 98px;
}
footer .footer-text a::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 2px;
  background: #58d1be;
  margin-bottom: 20px;
  top: 50%;
  transform: translateY(-20%);
  right: -250%;
}
footer .footer-text a::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 2px;
  background-color: #58d1be;
  top: 50%;
  transform: translateY(-20%);
  left: -250%;
}
footer .col-lg-4 {
  text-align: center;
}
footer .col-lg-4 h3 {
  color: #fff;
  font-size: 26px;
}
footer .col-lg-4 p {
  color: #cbcccb;
  font-size: 20px;
}
footer .col-lg-4 i {
  margin-left: 10px;
  color: #cfa86e;
}
footer .col-lg-4 span {
  color: #cfa86e;
}/*# sourceMappingURL=checkout.css.map */